<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text Input Form</title>
    <style>
      body {
        background-color: hotpink;
        text-align: center;
      }
      
    </style>
</head>
<body>
  <h1>Kim jesteś?: 'Bogdan', 'Gabrysia', 'Jaasio', 'Jakub', 'Klaudia', 'Maciej', 'Marzena', 'Milosz', 'Olga'</h1>
  <h2> </h2>
  <h2> </h2>
  <h2> </h2>
  <form action="/submit" method="POST" style="display: flex; justify-content: center; align-items: center; gap: 10px; text-align: center;">
    <h2 style="font-size: 32px; margin: 0;">Enter your name:</h2>
    <input type="text" id="text" class="write" name="text" required style="padding: 20px; font-size: 16px;">
    <button type="submit" class="button" style="padding: 20px 50px; font-size: 16px; cursor: pointer;">
        <h2 style="margin: 0; font-size: 16px;">Submit</h2>
    </button>
</form>


</body>

</html>
